<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MobWeb_OrderNotificationSms>
            <version>0.1.0</version>
        </MobWeb_OrderNotificationSms>
    </modules>
    <global>
        <models>
            <ordernotificationsms>
                <class>MobWeb_OrderNotificationSms_Model</class>
            </ordernotificationsms>
        </models>
        <helpers>
            <ordernotificationsms>
                <class>MobWeb_OrderNotificationSms_Helper</class>
            </ordernotificationsms>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <admin_system_config_changed_section_ordernotificationsms>
                <observers>
                    <ordernotificationsms>
                        <type>singleton</type>
                        <class>ordernotificationsms/observer</class>
                        <method>configSaveAfter</method>
                    </ordernotificationsms>
                </observers>
            </admin_system_config_changed_section_ordernotificationsms>
        </events>
    </adminhtml>
    <frontend>
        <events>
            <sales_order_place_after>
                <observers>
                    <ordernotificationsms>
                        <type>singleton</type>
                        <class>ordernotificationsms/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </ordernotificationsms>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
 </config>