<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MobWeb_TwilioIntegration>
            <version>0.1.5</version>
        </MobWeb_TwilioIntegration>
    </modules>
    <global>
        <models>
            <twiliointegration>
                <class>MobWeb_TwilioIntegration_Model</class>
            </twiliointegration>
        </models>
        <helpers>
            <twiliointegration>
                <class>MobWeb_TwilioIntegration_Helper</class>
            </twiliointegration>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <admin_system_config_changed_section_twiliointegration>
                <observers>
                    <twiliointegration>
                        <type>singleton</type>
                        <class>twiliointegration/observer</class>
                        <method>configSaveAfter</method>
                    </twiliointegration>
                </observers>
            </admin_system_config_changed_section_twiliointegration>
        </events>
    </adminhtml>
    <frontend>
        <events>
            <sales_order_place_after>
                <observers>
                    <twiliointegration>
                        <type>singleton</type>
                        <class>twiliointegration/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </twiliointegration>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
 </config>