<?xml version="1.0"?>
<config>
	<sections>
		<twiliointegration module="twiliointegration">
			<tab>sales</tab>
			<label>Twilio Integration</label>
			<sort_order>9001</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>0</show_in_website>
			<show_in_store>0</show_in_store>
			<groups>
				<introduction>
					<label>Getting Started</label>
					<expanded>1</expanded>
					<sort_order>0</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
                    <comment><![CDATA[
                    	<p>
                    		Thank you for using «Twilio Integration». To configure the module, follow the list below or watch our setup guide video:
	                    </p>
                    	<iframe width="560" height="315" src="http://www.youtube.com/embed/GXur2IFY7hw?rel=0" frameborder="0" allowfullscreen></iframe>
						<ul style="list-style:decimal;margin:20px 20px">
							<li>
								The first thing you should do is sign up for a free Twilio account. Twilio is a service that can send short messages over the internet. Go to their <a href="https://www.twilio.com/try-twilio" target="_new">Signup Page</a> to create your free account.
							</li>
							<li>
								Once you have created your account, fill out the two forms below. In the first form, you have to enter your Twilio credentials that you can see in your Twilio account. Each field has an explanation as well as a screenshot that shows you where in your account exactly the required value can be found.
							</li>
							<li>
								Last but not least, you have to enter the recipient(s) of the order notifications. You may enter an unlimited amount of numbers, but be aware that depending on your plan, Twilio might limit the number of recipients that you can send messages to. For example, the free account only allows one recipient, the number that you used when signing up for Twilio.
							</li>
							<li>
								After entering the recipient(s), you're all set! Each time after saving this form, all the specified numbers should receive a test message, so you can make sure that everything works. As soon as the next order is placed with your store, you will receive a notification message.
							</li>
						</ul>
                    	<p>
                    		If you have any questions or feel that something doesn't work as it should, feel free to contact us at <a href="mailto:info@mobweb.ch">info@mobweb.ch</a>.
	                    </p>
					]]></comment>
				</introduction>
				<twilio_api_credentials module="twiliointegration">
					<label>Twilio API Credentials</label>
					<expanded>1</expanded>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<account_sid>
							<label>Twilio Account SID</label>
							<validate>required-entry</validate>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment><![CDATA[
								You can find this on your <a href="https://www.twilio.com/user/account" target="new">Twilio account overview</a>.<br />
								<a href="http://magento-extensions.mbwb.info/order-notification-sms/sid.png" target="new">This screenshot</a> shows you where exactly.
							]]></comment>
						</account_sid>
						<auth_token>
							<label>Twilio Auth Token</label>
							<validate>required-entry</validate>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment><![CDATA[
								Also visible on your <a href="https://www.twilio.com/user/account" target="new">Twilio account overview</a>.<br />
								<a href="http://magento-extensions.mbwb.info/order-notification-sms/token.png" target="new">This screenshot</a> shows you where exactly.
							]]></comment>
						</auth_token>
						<sender_number>
							<label>Sender Number</label>
							<validate>required-entry</validate>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<comment><![CDATA[
								Listed under the <a href="https://www.twilio.com/user/account/phone-numbers/incoming" target="new">«Numbers» tab</a>. If you don't already have a Twilio number, a link should appear where you can claim your (free) number.<br />
								<a href="http://magento-extensions.mbwb.info/order-notification-sms/number.png" target="new">This screenshot</a> shows you where exactly.
							]]></comment>
						</sender_number>
					</fields>
				</twilio_api_credentials>
				<general module="twiliointegration">
					<label>General Settings</label>
					<expanded>1</expanded>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<country_code_filter>
							<label>Country Code Filter</label>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[
								Specifiy the allowed country codes for sending the messages to, separated by a semicolon. Use this to only allow phone numbers in certain countries as recipients of your messages.<br />
								<strong>Example</strong>: +1,+2,+33
							]]></comment>
							<sort_order>98</sort_order>
						</country_code_filter>
					</fields>
				</general>
				<order_notification module="twiliointegration">
					<label>Order Notification Settings</label>
					<expanded>1</expanded>
					<sort_order>3</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<notification_recipients>
							<label>Notification Recipients</label>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[
								Enter an unlimited number of recipients, separated by a semicolon. The numbers should be in the <a href="http://en.wikipedia.org/wiki/E.164" target="new">E.164 format</a>. This is the default number format used when making international calls. All recipients will receive a test message after saving this form, so feel free to try until you have found the correct format. Leave this field empty if no order notification should be sent.<br />
								<strong>Example</strong>: To convert a US phone number (415 599 2671) to E.164 format, add the "+" prefix and the country code (which is 1) in front of the number (+1 415 599 2671). In some countries, local dialing requires the addition of a 0 in front of the number. This 0 is removed in the E.164 format.
							]]></comment>
							<sort_order>97</sort_order>
						</notification_recipients>
					</fields>
				</order_notification>
				<shipment_notification module="twiliointegration">
					<label>Shipment Notification Settings</label>
					<expanded>1</expanded>
					<sort_order>4</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<message>
							<label>Shipment Notification Message</label>
							<frontend_type>text</frontend_type>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[
								Enter the message that a customer should receive once their shipment has been sent. Leave this field empty if no shipment notification should be sent.
							]]></comment>
							<sort_order>99</sort_order>
						</message>
					</fields>
				</shipment_notification>
			</groups>
		</twiliointegration>
	</sections>
</config>
