<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MobWeb_SMSNotifications>
            <version>0.1.5</version>
        </MobWeb_SMSNotifications>
    </modules>
    <global>
        <models>
            <smsnotifications>
                <class>MobWeb_SMSNotifications_Model</class>
            </smsnotifications>
        </models>
        <helpers>
            <smsnotifications>
                <class>MobWeb_SMSNotifications_Helper</class>
            </smsnotifications>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <admin_system_config_changed_section_smsnotifications>
                <observers>
                    <smsnotifications>
                        <type>singleton</type>
                        <class>smsnotifications/observer</class>
                        <method>configSaveAfter</method>
                    </smsnotifications>
                </observers>
            </admin_system_config_changed_section_smsnotifications>
        </events>
    </adminhtml>
    <global>
        <events>
            <sales_order_shipment_save_after>
                <observers>
                    <smsnotifications>
                        <type>singleton</type>
                        <class>smsnotifications/observer</class>
                        <method>salesOrderShipmentSaveAfter</method>
                    </smsnotifications>
                </observers>
            </sales_order_shipment_save_after>
            <sales_order_save_after>
                <observers>
                    <smsnotifications>
                        <type>singleton</type>
                        <class>smsnotifications/observer</class>
                        <method>salesOrderSaveAfter</method>
                    </smsnotifications>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
 </config>